header {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#nav > ul > li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
}
#nav > ul > li > a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
}
#nav > ul > li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1e1f20;
    width: 150px;
    box-shadow: 0px 2px 2px rgba(211, 210, 210, 0.2);
}
#nav > ul > li:hover ul {
    display: block;
}
#nav > ul > li ul li {
    border-bottom: 1px solid #ddd;
}
#nav > ul > li ul li a {
    color: #ffffff;
    padding: 8px;
    display: block;
    font-size: 16px;
    text-align: left;
}
#nav > ul > li ul li:hover {
    background-color: #f0f0f0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #925cc52c;
}
h1{
    color: #002851;
}
p{
    font-size: 18px;
}
#h1 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}
a:hover {
    rotate: 10deg;
}